<% if current_fan.provider.nil? %>
  <p>To make recommendations based on what you've been listening to lately, you'll need to connect either a <a href="https://www.last.fm" target="_blank">Last.fm</a> account or <a href="https://www.spotify.com" target="_blank">Spotify</a> account:</p>

  <p>
    <%= link_to "Connect to Last.fm", new_last_fm_connection_path, :class =>'button' %>
    <%= link_to "Connect to Spotify", "/auth/spotify", :method => :post, :class => 'button primary' %>
  </p>

  <p>Last.fm provides more detailed statistics, so that's certainly recommended, but if you've only got Spotify, you'll still get some recommendations from the past several months.</p>

  <p>If you <em>really</em> want those better statistics, Last.fm is a free service and <a href="https://www.last.fm/about/trackmymusic" target="_blank">can be connected to Spotify accounts</a> (along with many other services as well, if you're not using Spotify).</p>
<% else %>
  <div class="page-albums wrapper">
    <h1>Suggested albums for you</h1>

    <p>These are albums you've been listening to recently, but you haven't marked as purchased. Perhaps you'd like to buy a copy (in whichever format and from whatever location you wish) to support musicians more directly?</p>

    <p>(Where we've been able to find them, we provide links to the artist's homepage, Bandcamp, Apple's iTunes, and Google's Store. There's plenty of links we've not yet found though - we'll keep hunting. And if you prefer vinyl, we highly recommend supporting <a href="https://recordstoreday.com/Stores?country=select" target="_blank">your local record store</a>.)</p>

    <div class="albums">
      <% unpurchased_albums.each do |album| %>
        <div class="album unpurchased" id="album-<%= album.id %>">
          <%= render :partial => "albums/album", :locals => {:album => album} %>
        </div>
      <% end %>
    </div>

    <h2>Albums you've purchased</h2>

    <div class="albums">
      <% purchased_albums.each do |album| %>
        <span class="album purchased" id="album-<%= album.id %>">
          <%= render :partial => "albums/album", :locals => {:album => album} %>
        </span>
      <% end %>
    </div>
  </div>
<% end %>
