<% if current_fan.provider.nil? %>
  <p>To make recommendations based on what you've been listening to lately, you'll need to connect either a <a href="https://www.last.fm" target="_blank">Last.fm</a> account or <a href="https://www.spotify.com" target="_blank">Spotify</a> account:</p>

  <p>
    <%= link_to "Connect to Last.fm", new_last_fm_connection_path, :class =>'button' %>
    <%= link_to "Connect to Spotify", "/auth/spotify", :method => :post, :class => 'button primary' %>
  </p>

  <p>Last.fm provides more detailed statistics, so that's certainly recommended, but if you've only got Spotify, you'll still get some recommendations from the past several months.</p>

  <p>If you <em>really</em> want those better statistics, Last.fm is a free service and <a href="https://www.last.fm/about/trackmymusic" target="_blank">can be connected to Spotify accounts</a> (along with many other services as well, if you're not using Spotify).</p>
<% else %>
  <div class="page-albums wrapper">
    <h2>Your suggested albums</h2>

    <div class="albums">
      <% unpurchased_albums.each do |album| %>
        <%= link_to my_album_purchases_path(album), class: 'album', method: :post, remote: true do %>
          <%= render :partial => "albums/album", :locals => {:album => album, :fan => current_fan, :purchased => false} %>
        <% end %>
      <% end %>
    </div>

    <h2>Your purchased albums</h2>

    <div class="albums">
      <% purchased_albums.each do |album| %>
        <%= link_to my_album_purchases_path(album), class: 'album purchased', method: :delete, remote: true do %>
          <%= render :partial => "albums/album", :locals => {:album => album, :fan => current_fan, :purchased => true} %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
