<div class="image">
  <%= image_tag album.image if album.image %>
</div>

<div class="album-details">
  <div class="info">
    <h3 class="album-name"><%= album.name %></h3>
    <h4 class="album-artist"><%= album.artist.name %></h4>
  </div>
  <div class="album-links">
    <% purchaseable_links(album).each do |link| %>
      <%= link_to link, :target => "_blank", :class => "button very-small primary external" do %>
        <span><%= purchase_link_label(link) %></span>
      <% end %>
    <% end %>
  </div>
  <div class="album-purchase">
    <%= link_to my_album_purchases_path(album), method: :delete, remote: true, :class => "button small tertiary unpurchase" do %>
      <span>Purchased <span class="checkmark">&#10004;</span></span>
    <% end %>
    <%= link_to my_album_purchases_path(album), method: :post, remote: true, :class => "button small purchase" do %>
      <span>Mark as Purchased</span>
    <% end %>
  </div>
</div>
