<div class="wrapper">
  <h2>Edit Account Details</h2>

  <%= form_for(fan, url: my_account_path, html: {class: "edit-fan-email"}) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: 'primary' %>
    </div>
  <% end %>

  <h2>Edit Password</h2>

  <%= form_for(fan, url: my_account_path, html: {class: "edit-fan-password"}) do |f| %>
    <div class="field">
      <%= f.label :password do %>
        Password
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      <% end %>
      <br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: 'primary' %>
    </div>
  <% end %>

  <h2>Connections</h2>

  <% if fan.provider == "last.fm" %>
    <p>Support Act is currently linked to your Last.fm account. If you wish to remove this connection, use the button below and all of your account information will be removed from Support Act.</p>

    <p>If you change your mind later, you can always reconnect your account.</p>

    <%= link_to "Disconnect Last.fm", last_fm_connection_path, method: :delete, class: "button", data: {confirm: "Are you sure? This will delete all your Last.fm information on Support Act."} %>
  <% elsif fan.provider == "spotify" %>
    <p>Support Act is currently linked to your Spotify account. If you wish to remove this connection, use the button below and all of your account information will be removed from Support Act.</p>

    <p>If you change your mind later, you can always reconnect your account.</p>

    <%= link_to "Disconnect Spotify", spotify_connection_path, method: :delete, class: "button", data: {confirm: "Are you sure? This will delete all your Spotify information on Support Act."} %>
  <% end %>
</div>
