<div class="wrapper">
  <h2>Edit Account Details</h2>

  <%= form_for(fan, url: my_account_path, html: {class: "edit-fan-email"}) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: 'primary' %>
    </div>
  <% end %>

  <h2>Edit Password</h2>

  <%= form_for(fan, url: my_account_path, html: {class: "edit-fan-password"}) do |f| %>
    <div class="field">
      <%= f.label :password do %>
        Password
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      <% end %>
      <br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: 'primary' %>
    </div>
  <% end %>
</div>
