<!DOCTYPE html>
<html>
  <head>
    <title>Support Act</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async defer data-website-id="f74d6764-4314-4038-8e81-f7bd3caf09ff" src="https://stats.supportact.app/umami.js"></script>
  </head>

  <body>
    <header class="header">
      <div class="wrapper">
        <h1>
          <%= link_to "Support Act", "/", class: 'title' %>
          <span class="tagline">Helping you support your favourite acts ❤️</span>
        </h1>

        <nav id="nav">
          <% if fan_signed_in? %>
            <%= link_to "Dashboard", my_dashboard_path %>
            <%= link_to "My Account", my_account_path %>
            <%= link_to "Log out", destroy_fan_session_path, :method => :delete, class: 'button tertiary collapse' %>
          <% else %>
            <%= link_to "Log In", new_fan_session_path, :class => "button" %>
            <%= link_to "Sign Up", new_fan_registration_path, :class => "button primary" %>
          <% end %>
        </nav>
      </div>
    </header>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <div class="content">
      <%= yield %>
    </div>

    <footer>
      <div class="wrapper">
        <p>Support Act is copyright &copy; 2020 <a href="https://freelancing-gods.com" target="_blank">Pat Allan</a>, and has been built by him on unceded Kulin land, in Naarm/Melbourne. He's also had design support from the wonderful folks at <a href="http://www.superhero-studios.com" target="_blank">Superhero Studios</a>.</p>

        <p>If you've suggestions on how this service could be improved, please <a href="https://twitter.com/pat" target="_blank">get in touch</a> or have a look at <a href="https://github.com/pat/support-act">the code</a>.</p>
      </div>
    </footer>
  </body>
</html>
