<!DOCTYPE html>
<html>
  <head>
    <title>Support Act</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="wrapper">
        <h1><%= link_to "SupportAct", "/", class: 'title' %></h1>

        <nav id="nav">
          <% if fan_signed_in? && !current_fan.provider.nil? %>
            <%= link_to "Dashboard", my_dashboard_path %>
            <%= link_to "Log out", destroy_fan_session_path, :method => :delete, class: 'button tertiary' %>
          <% end %>
        </nav>
      </div>
    </header>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
